{% extends 'base.html.twig' %}

{% block title %}{{'catch'|trans}}{% endblock %}

{% block body %}
    <h1>{{categorie.name}}</h1>
    {% if (app.user not in categorie.follows) and is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href="{{path('categorie_follow', {'slug': categorie.slug})}}">{{'follow'|trans}}</a>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('categorie_edit', {'slug': categorie.slug}) }}">{{'edit'|trans}}</a>

        {{ include('categorie/_delete_form.html.twig') }}
    {% endif %}

    <h2>{{'articles'|trans}}</h2>
    <ul>
        {% for article in categorie.articles %}
            <li><a href="{{path('article_show', {'slug': article.slug})}}">{{article.title}}</a></li>
        {% else %}
            <li>{{'no-article'|trans}}</li>
        {% endfor %}
    </ul>
    <h2>{{'cours'|trans}}</h2>
    <ul>
        {% for cours in categorie.cours %}
            <li><a href="{{path('cours_show', {'slug': cours.slug})}}">{{cours.title}}</a></li>
        {% else %}
            <li>{{'no-cours'|trans}}</li>
        {% endfor %}
    </ul>
{% endblock %}
